lib/
out/
secrets/
node_modules/
acceptance_tests_logs/
.vscode/
.idea/
.turbo/
.nx/
.envrc

.DS_Store
acceptance-test-*.log
*.code-workspace

destinations/**/package-lock.json
sources/**/package-lock.json
